<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BPMTestConnection" connectionString="Data Source=192.168.8.186;Initial Catalog=BPMDBTest;Integrated Security=False;User ID=bpmtest;Password=bpmtest.1811" />
    <add name="BPMConnection" connectionString="Data Source=192.168.8.189;Initial Catalog=BPMDB;Integrated Security=False;User ID=cwbpmnew;Password=bpmsky..2013" />
  </connectionStrings>

</configuration>